  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;;
}

:root{
    --container-bg: hsl(212, 45%, 89%);
    --card-bg: hsl(0, 0%, 100%);
    --para-text: hsl(210, 1%, 59%);
    --link-text: hsl(217, 98%, 49%);
    --btn-bg: rgb(81, 224, 224); 
    --btn-text: #000;
    --text-color: #000;
}


[data-theme="dark"]{
    --card-bg:hsl(218, 44%, 22%);
    --container-bg: hsl(0, 1%, 40%);
    --para-text: hsl(210, 12%, 97%);
    --link-text: hsl(0, 6%, 84%); 
    --btn-bg: rgb(22, 14, 14); 
    --btn-text: #fff;
    --text-color: #4a54e2;

}
 
.main-div{
    background-color: var(--container-bg);
    /* color: var(--text-color) */
}

.card{
    background-color: var(--card-bg)
}

.card-content>h1{
    color: var(--text-color);
}

.card-content>p{
    color: var(--para-text);
}

.btn{
    background-color: var(--btn-bg);
    color: var(--btn-text)
}

.footer>p>a{
    color: var(--link-text);
}